     *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
     }

     body{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       line-height: 1.4rem;
     }

     a{
       text-decoration: none;
     }

     p{
       margin: 0.25rem 0;
     }


     /*Classes Utiliy */
     .container{
       max-width: 1110px;
       margin: auto;
       overflow: auto;
       padding: 0 2rem;
     }

     .text-primary{
       color: #93cb52;
     }

     .l-heading{
       font-size: 3rem;
       line-height: 1.1;
       margin-bottom: 0.75rem;
     }

     .m-heading{
       font-size: 2rem;
       line-height: 1.1;
       margin-bottom: 0.75rem;

     }

     .lead{
       font-size: 1.3rem;
       margin-bottom: 2rem;
     }

     .text-center{
       text-align: center;
     }

     .py-1{padding: 1.5rem 0;}
     .py-2{padding: 2rem 0;}
     .py-3{padding: 3rem 0;}

     .p-1{padding: 1.5rem;}
     .p-2{padding: 2rem;}
     .p-3{padding: 3rem;}

     .bg-dark{
       background: #333;
       color: #fff;
     }

     .bg-light{
       background: #f4f4f4;
       color: #333;
     }

     .bg-primary{
       background: #93cb52;
       color: #fff;
     }

     .btn{
       background: #93cb52;
       color: #fff;
       padding: 0.5rem 2rem;
       border: none;
       border-radius: 5px;
     }

     .btn:hover{
       background: #7ab436;
     }

     .list{
       margin: 0.5rem 0;
       list-style: none;
     }

     .list li{
       padding: 0.5rem;
       border-bottom: #444 dotted 1px;
     }

     #navbar{
       display: flex;
       justify-content: space-between;
       background: #333;
       color: #fff;
       position: sticky;
       z-index: 1;
       top: 0;
       padding: 1rem;

     }

     #navbar ul{
       display: flex;
       align-items: center;
       list-style: none;
     }

     #navbar ul li a{
       color: #fff;
       padding: 0.75rem;
       margin: 0 0.25rem;
     }

     #navbar ul li a:hover{
       background: #92cb52;
       border-radius: 5px;
     }

        /*showcase*/
        #showcase{
          background: #333 url('../image_resources/showcase.jpg') center center/cover;
          height: 100vh;
        }

        #showcase .show-content{
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          align-items: center;
          color: #fff;
          text-align: center;
          /*overlay */
          top:60;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0,0,0,0.4);
        }

        /*What*/

        #what .items{
          display: flex;
          padding: 1rem;
        }

        #what .items .item{
          flex: 1;
          text-align: center;
          padding: 1rem;
        }
/*
        #what .items .item i {
          background: #93cb52;
          padding: 1rem;
          border-radius: 50%;
          margin-bottom: 1rem;
        } */

        /*Who*/
        #who{
          display: flex;
        }

        #who div{
          flex: 1;
          padding: 1rem;
        }

        #who .who-img{
          background: url('../image_resources/people.jpg') no-repeat center center/cover;
        }

        /*Clients*/

        #clients .items{
          display: flex;
        }

        #clients .items img{
          display: block;
          width: 60%;
          margin: auto;
        }
       




        



        